body {
    background-color:rgb(214, 193, 219) !important;
    /* background-image: url('https://c8.alamy.com/comp/2BA1DT4/wrinkled-crumpled-paper-texture-or-background-texture-of-crumpled-paper-white-paper-sheet-2BA1DT4.jpg'); */
    background-attachment: fixed;
    background-repeat: repeat-yx; 
    font-size: 18px;
    padding: 20px;
    margin: 30px;
}


div {
    text-align: right;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif sans-serif;
}

form {
    background-color: rgb(162, 131, 191); 
    align-items: center;
    padding: 80px;
    ;
    margin: auto;
}

textarea {
    background-color: rgb(170, 153, 186);
    text-align: left;
    padding: 2px, 2px;
}

input {
    font-size: 20px;
    border-radius: 2%;
    padding: 5px;

}

input:focus {
    background-color: lightgray;

}
legend{
    color: aliceblue;
}

fieldset {
    background-color: rgb(131, 103, 156);
    border-radius: 5px;
}